.add-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  margin: 8px 0;
  padding: 8px 0;
  border-radius: 3px;

  &__input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;

    @media (max-width: 480px) {
      border: 1px solid var(--color-outline);
      flex-basis: 100%;
    }

    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    border: 1px solid var(--color-outline);
    border-right-width: 0;

    background-color: var(--color-background);
    color: var(--color-on-background);

    appearance: none;

    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__button {
    font-size: 16px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    background: none;
    
    &--add {
      background-color: var(--color-primary);
      color: var(--color-on-primary);
      border: 1px solid var(--color-primary);

      &:hover {
        background-color: var(--color-on-primary);
        color: var(--color-primary);
        border-color: var(--color-onprimary);
      }

      @media (max-width: 480px) {
        width: 50%;
      }
    }

    &--clear {
      border: 1px solid var(--color-primary);
      border-left-width: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: var(--color-primary);

      &:hover {
        background-color: var(--color-on-primary);
        color: var(--color-primary);
      }

      @media (max-width: 480px) {
        width: 50%;
      }
    }
  }
}