.header {
  text-align: center;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  padding: 48px 24px;
  margin-top: 48px;
  border-radius: 4px;

  &__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 300;
  }
}