.header {
  position: relative;
  text-align: center;
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
  padding: 48px 24px;
  margin-top: 32px;
  border-radius: 4px;

  &__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 300;
  }
}