.list {
  margin: 0;
  padding: 0;

  &__empty {
    color: $color-grey;
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid $color-grey;
    border-bottom-width: 0;

    &--delete {
      animation: shrinkHeight .4s ease forwards;
    }

    &:last-child {
      border-bottom-width: 1px;
    }

    position: relative;
    user-select: none;

    &:hover .list__button {
      display: block;
    }

    &:hover .list__checkbox ~ .list__checkmark {
      background-color: aliceblue;
    }

    &--completed {
      color: $color-muted;
    }

    &--fav {
      //
    }

    .list__checkbox:checked ~ .list__checkmark {
      border-color: #2196F3;
      background-color: #2196F3;
    }

    .list__checkbox:checked ~ .list__checkmark:after {
      display: block;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;

    .list__item--completed & {
      text-decoration: line-through;
    }
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    width: 32px;
    height: 32px;
    margin: 0;
  }

  &__checkmark {
    position: relative;
    height: 25px;
    width: 25px;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid $color-grey;

    &:after {
      content: "";
      position: absolute;
      display: none;

      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__description {
    line-height: 32px;
    
    &--edit {
      display: none;

      border: 1px solid $color-grey;
      padding: 0;
      margin: -1px 0;
      width: 100%;
      font-size: 16px;
      padding: 0 16px;
      background-color: ivory;
    }

    .list__item--edit & {
      &--view {
        display: none;
      }

      &--edit {
        display: block;
      }
    }

  }

  &__button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;

    &:hover {
      background: aliceblue;
    }

    &--fav {
      font-size: 20px;

      .list__item--fav & {
        display: block;
      }
    }

    &--edit {
      //
    }

    &--delete {
      //
    }
  }

  &__star {
    pointer-events: none;

    &--empty {
      display: block;

      .list__item--fav & {
        display: none;
      }
    }

    &--filled {
      display: none;
      color: gold;
      text-shadow: 0 0 1px gray;

      .list__item--fav & {
        display: block;
      }
    }
  }
}

@keyframes shrinkHeight {
  to { 
    max-height: 0;
    opacity: 0;
    transform: scale(0);
    padding: 0;
    margin: 0;
  }
}