.theme-toggle {
  position: absolute;
  top: 8px;
  right: 16px;

  &__button {
    width: 40px;
    height: 32px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px;
    padding: 0px;
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: left;
    font: inherit;
  }

  &__icon {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 32px;
    content: '';
    background-position: center;
    background-size: cover;

    &--light {
      display: none;
      
      .dark-theme & {
        display: block;
      }
    }
  
    &--dark {
      .dark-theme & {
        display: none;
      }
    }
  }
}