@import './settings/variables.scss';
@import './components/header.scss';
@import './components/add-form.scss';
@import './components/list.scss';
@import './components/info.scss';
@import './components/footer.scss';

body {
  font-family: sans-serif;
  background-color: $color-white;
  color: $color-black;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  box-sizing: border-box;
  display: block;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 576px) {
    max-width: 540px;
  }
}