@import './components/theme-toggle.scss';
@import './components/header.scss';
@import './components/add-form.scss';
@import './components/list.scss';
@import './components/info.scss';
@import './components/footer.scss';

:root {
  --color-background: #fff;
  --color-on-background: #111;

  --color-surface: #0d6efd1a;
  --color-on-surface: #111;

  --color-grey: silver;
  --color-muted: #6c757d;

  --color-primary: #0d6efd;
  --color-primary-variant: #0252ca;
  --color-on-primary: #fff;
  --color-secondary: #0d6efd1a;
  --color-on-secondary: #fff;

  &.dark-theme {
    --color-background: #121212;
    --color-on-background: #fff;

    --color-surface: #2b2b2b;
    --color-on-surface: #fff;

    --color-grey: silver;
    --color-muted: Gainsboro;

    --color-primary: RoyalBlue;
    --color-primary-variant: LightSteelBlue	;
    --color-on-primary: #fff;
    --color-secondary: RoyalBlue;
    --color-on-secondary: #fff;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-size: 16px;
  line-height: 1.5;
}

.container {
  box-sizing: border-box;
  display: block;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 576px) {
    max-width: 540px;
  }
}