$color-black: #111;
$color-white: #fff;
$color-grey: lighten($color-black, 80%);
$color-muted: #6c757d;
$color-hover: $color-grey;
$color-primary: lighten(#0d6efd, 20%);
$color-secondary: lighten($color-primary, 20%);
